<link rel="stylesheet" type="text/css" href="css/style.css">
<div class="login-page">
  <div class="form">
   <h4> Welcome <%= username; %> in Express 301 Dashbaord </h4>
   <a href="/story/1">Story 1</a>
   <a href="/story/2">Story 2</a>
   <a href="/story/3">Story 3</a>
   <br /><br />
   <a href="/statement">Download Account Statement</a> 

   <p><a href="/logout">Logout</a></p>
  </div>
</div>